$main_color: rgb(48, 34, 128);

section{
    margin-bottom: 30px;
}
.title{
    font-weight: bold;
    color: $main_color;
    font-size: larger;
    // border-bottom: 1px solid $main_color;
    padding: 10px;
    box-shadow: 0px 2px 1px #DDD;
    // margin-left: -10px !important;
    margin-bottom: 10px;
    text-transform: capitalize;
    // border-left: 1px solid #DDD;
}
.bold{
    font-weight: bold;
}
.my-image img{
    border: 1px solid #DDD;
    border-radius: 5px;
    
}
